In [1]:
# imports
from dotenv import load_dotenv
import pandas as pd
import numpy as np
from goodreads_scraper import login, scrape_book, scrape_books, scrape_shelf

In [2]:
# read .env file
load_dotenv()

GOODREADS_EMAIL = os.getenv('GOODREADS_EMAIL')
GOODREADS_PASSWORD = os.getenv('GOODREADS_PASSWORD')

In [3]:
session = login(GOODREADS_EMAIL, GOODREADS_PASSWORD)

Attempting to log in as dav.polido@gmail.com - Done!

In [4]:
shelf = "https://www.goodreads.com/review/list/6897050?shelf=read"
books = scrape_shelf(session, shelf)

Scraping pages in shelf: [ 14 / 14 ] - Done!
Shelf scraped: 409 books retrieved.

In [5]:
df = pd.DataFrame(books)
df

,title,author,num_pages,avg_rating,num_ratings,rating,read_count,event_start_date,event_finish_date,date_added,edition,date_pub_edition,id,date_pub,work_id
0,Solving the Procrastination Puzzle: A Concise ...,"Pychyl, Timothy A.",128,3.65,4632,3,1,"Oct 11, 2021","Oct 17, 2021","Jul 02, 2017",Paperback,"Dec 26, 2013",18079767,"Oct 29, 2013",25387063
1,"The Summer Tree (The Fionavar Tapestry, #1)","Kay, Guy Gavriel",353,3.98,22240,3,1,"Sep 02, 2021","Sep 29, 2021","Oct 01, 2019",Kindle Edition,Apr 2001,23311648,Oct 1984,3238632
2,Range: Why Generalists Triumph in a Specialize...,"Epstein, David",339,4.14,44112,4,1,"Sep 02, 2021","Sep 12, 2021","Jan 22, 2020",Kindle Edition,"May 28, 2019",44000528,"May 28, 2019",65183769
3,Four Thousand Weeks: Time and How to Use It,"Burkeman, Oliver",273,4.40,2407,4,1,"Aug 23, 2021","Aug 28, 2021","Aug 22, 2021",Kindle Edition,"Aug 26, 2021",49785708,"Aug 10, 2021",85465206
4,Blue Latitudes: Boldly Going Where Captain Coo...,"Horwitz, Tony",480,4.02,9405,4,1,"Aug 07, 2021","Aug 22, 2021","Jul 11, 2021",Paperback,"Aug 01, 2003",94529,"Oct 01, 2002",3963317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,"Harry Potter e o Cálice de Fogo (Harry Potter,...","Rowling, J.K.",591,4.56,2895169,5,1,None,Jan 2002,"Nov 06, 2011",Paperback,Nov 2000,3484705,"Jul 08, 2000",3046572
405,The Fellowship of the Ring (The Lord of the Ri...,"Tolkien, J.R.R.",398,4.37,2513613,5,1,None,Jan 2002,"Nov 07, 2011",Paperback,"Sep 05, 2003",34,"Jul 29, 1954",3204327
406,Harry Potter e o Prisioneiro de Azkaban (Harry...,"Rowling, J.K.",343,4.57,3206116,5,1,None,Mar 2001,"Jul 02, 2015",Paperback,Apr 2000,3484669,"Jul 08, 1999",2402163
407,Harry Potter e a Câmara dos Segredos (Harry Po...,"Rowling, J.K.",280,4.43,3074653,5,1,None,Feb 2001,"Nov 06, 2011",Paperback,2000,2936498,"Jul 02, 1998",6231171
408,Harry Potter e a Pedra Filosofal (Harry Potter...,"Rowling, J.K.",255,4.47,7963597,5,1,None,Jan 2001,"Nov 06, 2011",Paperback,"Oct 19, 1999",3484606,"Jun 26, 1997",4640799

In [6]:
df["event_start_date"] = df["event_start_date"].astype("datetime64")
df["event_finish_date"] = df["event_finish_date"].astype("datetime64")
df["date_added"] = df["date_added"].astype("datetime64")
#df["date_pub"] = df["date_pub"].astype("datetime64")
#df["date_pub_edition"] = df["date_pub_edition"].astype("datetime64")
df["event_duration"] = (df["event_finish_date"] - df["event_start_date"]) / np.timedelta64(1, "D")
df

,title,author,num_pages,avg_rating,num_ratings,rating,read_count,event_start_date,event_finish_date,date_added,edition,date_pub_edition,id,date_pub,work_id,event_duration
0,Solving the Procrastination Puzzle: A Concise ...,"Pychyl, Timothy A.",128,3.65,4632,3,1,2021-10-11,2021-10-17,2017-07-02,Paperback,"Dec 26, 2013",18079767,"Oct 29, 2013",25387063,6.0
1,"The Summer Tree (The Fionavar Tapestry, #1)","Kay, Guy Gavriel",353,3.98,22240,3,1,2021-09-02,2021-09-29,2019-10-01,Kindle Edition,Apr 2001,23311648,Oct 1984,3238632,27.0
2,Range: Why Generalists Triumph in a Specialize...,"Epstein, David",339,4.14,44112,4,1,2021-09-02,2021-09-12,2020-01-22,Kindle Edition,"May 28, 2019",44000528,"May 28, 2019",65183769,10.0
3,Four Thousand Weeks: Time and How to Use It,"Burkeman, Oliver",273,4.40,2407,4,1,2021-08-23,2021-08-28,2021-08-22,Kindle Edition,"Aug 26, 2021",49785708,"Aug 10, 2021",85465206,5.0
4,Blue Latitudes: Boldly Going Where Captain Coo...,"Horwitz, Tony",480,4.02,9405,4,1,2021-08-07,2021-08-22,2021-07-11,Paperback,"Aug 01, 2003",94529,"Oct 01, 2002",3963317,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,"Harry Potter e o Cálice de Fogo (Harry Potter,...","Rowling, J.K.",591,4.56,2895169,5,1,NaT,2002-01-01,2011-11-06,Paperback,Nov 2000,3484705,"Jul 08, 2000",3046572,NaN
405,The Fellowship of the Ring (The Lord of the Ri...,"Tolkien, J.R.R.",398,4.37,2513613,5,1,NaT,2002-01-01,2011-11-07,Paperback,"Sep 05, 2003",34,"Jul 29, 1954",3204327,NaN
406,Harry Potter e o Prisioneiro de Azkaban (Harry...,"Rowling, J.K.",343,4.57,3206116,5,1,NaT,2001-03-01,2015-07-02,Paperback,Apr 2000,3484669,"Jul 08, 1999",2402163,NaN
407,Harry Potter e a Câmara dos Segredos (Harry Po...,"Rowling, J.K.",280,4.43,3074653,5,1,NaT,2001-02-01,2011-11-06,Paperback,2000,2936498,"Jul 02, 1998",6231171,NaN
408,Harry Potter e a Pedra Filosofal (Harry Potter...,"Rowling, J.K.",255,4.47,7963597,5,1,NaT,2001-01-01,2011-11-06,Paperback,"Oct 19, 1999",3484606,"Jun 26, 1997",4640799,NaN

In [7]:
df.to_csv("./data/books_read.csv")

# TEMP

In [8]:
full_df = pd.read_csv("./data/books_read.csv", index_col=0)
full_df

,title,author,num_pages,avg_rating,num_ratings,rating,read_count,event_start_date,event_finish_date,date_added,edition,date_pub_edition,id,date_pub,work_id,event_duration
0,Solving the Procrastination Puzzle: A Concise ...,"Pychyl, Timothy A.",128,3.65,4632,3,1,2021-10-11,2021-10-17,2017-07-02,Paperback,"Dec 26, 2013",18079767,"Oct 29, 2013",25387063,6.0
1,"The Summer Tree (The Fionavar Tapestry, #1)","Kay, Guy Gavriel",353,3.98,22240,3,1,2021-09-02,2021-09-29,2019-10-01,Kindle Edition,Apr 2001,23311648,Oct 1984,3238632,27.0
2,Range: Why Generalists Triumph in a Specialize...,"Epstein, David",339,4.14,44112,4,1,2021-09-02,2021-09-12,2020-01-22,Kindle Edition,"May 28, 2019",44000528,"May 28, 2019",65183769,10.0
3,Four Thousand Weeks: Time and How to Use It,"Burkeman, Oliver",273,4.40,2407,4,1,2021-08-23,2021-08-28,2021-08-22,Kindle Edition,"Aug 26, 2021",49785708,"Aug 10, 2021",85465206,5.0
4,Blue Latitudes: Boldly Going Where Captain Coo...,"Horwitz, Tony",480,4.02,9405,4,1,2021-08-07,2021-08-22,2021-07-11,Paperback,"Aug 01, 2003",94529,"Oct 01, 2002",3963317,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,"Harry Potter e o Cálice de Fogo (Harry Potter,...","Rowling, J.K.",591,4.56,2895169,5,1,NaN,2002-01-01,2011-11-06,Paperback,Nov 2000,3484705,"Jul 08, 2000",3046572,NaN
405,The Fellowship of the Ring (The Lord of the Ri...,"Tolkien, J.R.R.",398,4.37,2513613,5,1,NaN,2002-01-01,2011-11-07,Paperback,"Sep 05, 2003",34,"Jul 29, 1954",3204327,NaN
406,Harry Potter e o Prisioneiro de Azkaban (Harry...,"Rowling, J.K.",343,4.57,3206116,5,1,NaN,2001-03-01,2015-07-02,Paperback,Apr 2000,3484669,"Jul 08, 1999",2402163,NaN
407,Harry Potter e a Câmara dos Segredos (Harry Po...,"Rowling, J.K.",280,4.43,3074653,5,1,NaN,2001-02-01,2011-11-06,Paperback,2000,2936498,"Jul 02, 1998",6231171,NaN
408,Harry Potter e a Pedra Filosofal (Harry Potter...,"Rowling, J.K.",255,4.47,7963597,5,1,NaN,2001-01-01,2011-11-06,Paperback,"Oct 19, 1999",3484606,"Jun 26, 1997",4640799,NaN

In [9]:
full_df["year_month"] = full_df["event_finish_date"].str.slice(0, 7)
full_df

,title,author,num_pages,avg_rating,num_ratings,rating,read_count,event_start_date,event_finish_date,date_added,edition,date_pub_edition,id,date_pub,work_id,event_duration,year_month
0,Solving the Procrastination Puzzle: A Concise ...,"Pychyl, Timothy A.",128,3.65,4632,3,1,2021-10-11,2021-10-17,2017-07-02,Paperback,"Dec 26, 2013",18079767,"Oct 29, 2013",25387063,6.0,2021-10
1,"The Summer Tree (The Fionavar Tapestry, #1)","Kay, Guy Gavriel",353,3.98,22240,3,1,2021-09-02,2021-09-29,2019-10-01,Kindle Edition,Apr 2001,23311648,Oct 1984,3238632,27.0,2021-09
2,Range: Why Generalists Triumph in a Specialize...,"Epstein, David",339,4.14,44112,4,1,2021-09-02,2021-09-12,2020-01-22,Kindle Edition,"May 28, 2019",44000528,"May 28, 2019",65183769,10.0,2021-09
3,Four Thousand Weeks: Time and How to Use It,"Burkeman, Oliver",273,4.40,2407,4,1,2021-08-23,2021-08-28,2021-08-22,Kindle Edition,"Aug 26, 2021",49785708,"Aug 10, 2021",85465206,5.0,2021-08
4,Blue Latitudes: Boldly Going Where Captain Coo...,"Horwitz, Tony",480,4.02,9405,4,1,2021-08-07,2021-08-22,2021-07-11,Paperback,"Aug 01, 2003",94529,"Oct 01, 2002",3963317,15.0,2021-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
404,"Harry Potter e o Cálice de Fogo (Harry Potter,...","Rowling, J.K.",591,4.56,2895169,5,1,NaN,2002-01-01,2011-11-06,Paperback,Nov 2000,3484705,"Jul 08, 2000",3046572,NaN,2002-01
405,The Fellowship of the Ring (The Lord of the Ri...,"Tolkien, J.R.R.",398,4.37,2513613,5,1,NaN,2002-01-01,2011-11-07,Paperback,"Sep 05, 2003",34,"Jul 29, 1954",3204327,NaN,2002-01
406,Harry Potter e o Prisioneiro de Azkaban (Harry...,"Rowling, J.K.",343,4.57,3206116,5,1,NaN,2001-03-01,2015-07-02,Paperback,Apr 2000,3484669,"Jul 08, 1999",2402163,NaN,2001-03
407,Harry Potter e a Câmara dos Segredos (Harry Po...,"Rowling, J.K.",280,4.43,3074653,5,1,NaN,2001-02-01,2011-11-06,Paperback,2000,2936498,"Jul 02, 1998",6231171,NaN,2001-02
408,Harry Potter e a Pedra Filosofal (Harry Potter...,"Rowling, J.K.",255,4.47,7963597,5,1,NaN,2001-01-01,2011-11-06,Paperback,"Oct 19, 1999",3484606,"Jun 26, 1997",4640799,NaN,2001-01

In [10]:
full_df.groupby("year_month").count()["title"].reset_index()

    year_month  title
0      2001-01      1
1      2001-02      1
2      2001-03      1
3      2002-01      3
4      2002-02      1
..         ...    ...
156    2021-06      2
157    2021-07      2
158    2021-08      4
159    2021-09      2
160    2021-10      1

[161 rows x 2 columns]

In [11]:
ym_lst = []

for y in range(2001, 2022):
    for m in range(1, 13):
        if m < 10:
            ym_lst.append(f"{y}-0{m}")
        else: 
            ym_lst.append(f"{y}-{m}")

ym = pd.DataFrame(ym_lst)
ym.columns = ["year_month"]
ym

    year_month
0      2001-01
1      2001-02
2      2001-03
3      2001-04
4      2001-05
..         ...
247    2021-08
248    2021-09
249    2021-10
250    2021-11
251    2021-12

[252 rows x 1 columns]

In [12]:
stats = pd.merge(ym, full_df.groupby("year_month").count()["title"].reset_index(), on="year_month", how="left").fillna(0)
stats["level"] = stats["year_month"].str.slice(2, 4)
stats.to_csv("./data/test.csv")

In [ ]:
full_df["event_start_date"] = full_df["event_start_date"].astype("datetime64")
full_df["event_finish_date"] = full_df["event_finish_date"].astype("datetime64")
full_df["date_added"] = full_df["date_added"].astype("datetime64")
full_df.to_csv("./data/books_read_clean.csv")

In [ ]:
df = full_df.loc[full_df["event_status"].isin(["Started Reading", "Finished Reading"]) & ~full_df.duplicated()].copy()

In [ ]:
def create_date_columns(group):
    if group["event_status"] == "Finished Reading"

In [ ]:
gb = df.loc[~df["event_date"].isna()].groupby(by="title")["event_status"].count()

l = gb.loc[gb > 2].index.to_list()
df.loc[df["title"].isin(l) & ~df["event_date"].isna()].sort_values(by=["title", "event_date"]).groupby(by="")

In [ ]:
df["event_id"] = df["event_id"].fillna(df["book_id"]).astype(int)
#df.loc[df.duplicated(subset=["event_id", "event_status"], keep=False)].sort_values(by=["title", "event_date"])
gb = df.groupby(by="event_id")["event_date"].nunique().reset_index()
df.loc[df.event_id.isin(gb.loc[gb.event_date > 2]["event_id"].to_list())]
#df.pivot(index="event_id", columns="event_status", values="event_date")

In [ ]:
gb1 = df.groupby(by="book_id").count().reset_index()
weird1 = gb1.loc[gb1.title == 3]["book_id"].to_list()
weird2 = gb1.loc[gb1.title == 4]["book_id"].to_list()
weird3 = gb1.loc[gb1.title > 4]["book_id"].to_list()
df.loc[df.book_id.isin(weird2)][0:50]

In [ ]:
small_df = df.sort_values(by=["book_id", "event_date"]).loc[~df.duplicated(subset=["book_id", "event_status"], keep="last")]
small_df.pivot(index="book_id", columns="event_status", values="event_date")

In [ ]:
test = "/work/editions/1121748-the-amulet-of-samarkand"
import re
re.search(r"([0-9]+)", test).group(0)

In [ ]:
df.groupby("language").agg({"book_id": "nunique"})

In [ ]:
gb = df.groupby(["title"]).agg({"book_id": "nunique"})
repeated = gb.loc[gb["book_id"] > 1].index.to_list()

df.loc[(df["title"].isin(repeated[0:1])) & (df["status"] == "Shelved as")].sort_values(by=["book_id", "date"])

In [ ]:
from bs4 import BeautifulSoup
response = session.get("https://www.goodreads.com/book/show/36111562")
soup = BeautifulSoup(response.text, "html.parser")
soup.find("div", attrs={"itemprop": "inLanguage"}).get_text().strip()

In [ ]:
import requests
import re
from bs4 import BeautifulSoup

soup = BeautifulSoup(session.get("https://www.goodreads.com/review/list/6897050?shelf=read").text,  "html.parser")

rows = soup.find_all("tr", id=re.compile("^review_"))

In [ ]:
def extract_fields(row, iteration):
    book = {}
    # Title
    book["title"] = row.select("td.field.title")[0].div.a["title"]
    
    # Author
    book["author"] = row.select("td.field.author")[0].div.get_text(strip=True).replace("*","")

    # Pages
    num_pages_text = row.select("td.field.num_pages")[0].get_text(strip=True)
    book["num_pages"] = re.search(r"([0-9]+)", num_pages_text).group(0)

    # Avg. Rating
    book["avg_rating"] = row.select("td.field.avg_rating")[0].div.get_text(strip=True)

    # Number Ratings
    book["num_ratings"] = row.select("td.field.num_ratings")[0].div.get_text(strip=True).replace(",", "")

    # My Rating
    book["rating"] = int(row.select("td.field.rating")[0].div.div["data-rating"])

    # Read Count
    book["read_count"] = int(row.select("td.field.read_count")[0].div.get_text(strip=True))

    # Started Date
    start_date =  row.select("td.field.date_started")[0].div.get_text(strip=True).split("[edit]")[iteration]
    book["event_start_date"] = None if start_date == "not set" else start_date

    # Finished Date
    finish_date = row.select("td.field.date_read")[0].div.get_text(strip=True).split("[edit]")[iteration]
    book["event_finish_date"] = None if finish_date == "not set" else finish_date 
    
    # Date Added
    book["date_added"] = row.select("td.field.date_added")[0].div.get_text(strip=True)

    # Edition
    book["edition"] = row.select("td.field.format")[0].div.get_text(strip=True).replace("[edit]", "")

    # Book ID
    book["id"] = row.select("td.field.rating")[0].div.div["data-resource-id"]

    # Work ID
    work_id_link = row.select("td.field.format")[0].a["href"]
    book["work_id"] = re.search(r"([0-9]+)", work_id_link).group(0) if work_id_link else None
    return book

def parse_row(row):
    row_books = []
    read_count = int(row.select("td.field.read_count")[0].div.get_text(strip=True))

    for iteration in range(0, read_count):
        row_books.append(extract_fields(row, iteration))
    return row_books

books = []
for row in rows[12:16]:
    books += parse_row(row)

books

In [ ]:
df = pd.DataFrame(books)
df["event_start_date"] = df["event_start_date"].astype("datetime64")
df